/*  your css code here. If applicable */
#container {
    margin: 20px;
}

/* BEFORE content */
#container::before {
    content: "Before Content ";
    color: #f00;
    font-size: 20px;
}

/* AFTER content */
#container::after {
    content: " After Content";
    color: #f00;
    font-size: 20px;
}